p, #logo{
    font-family: Roboto;
}
ul *, a{
    font-family: 'Inter', sans-serif;
    margin: 0 5px;
}
h2{
    font-family: 'Amatic SC';
}
#heroTitle{
    font-size: 4rem;
}
#logo{
    font-size: 2rem;
}
#home{
    background-color: #f2f2f2;
    min-height: 60vh;
}

